@font-face{
	font-family: Hero;
	src: url(ofont.ru_Hero1.ttf);
}

.registration_form{
	margin-top: 50px;
	background-color: #C7C2FF;
	border-radius: 60PX;
	width: 1100PX;
	padding: 50px 60px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.registration{
	display: flex;
	gap: 10px;
}

input{
	width: 520px;
	height: 55px;
	border-radius: 18px;
	border-style: none;
	font-family: Hero;
	margin-bottom: 30px;
	font-size: 20px;
	placeholder-color: #6063AE;
	padding: 0 10px;
}

button{
	width: 500px;
	height: 60px;
	font-family: Hero;
	border-radius: 20px;
	border-style: none;
	background-color: #3F428B;
	color: white;
	font-size: 20px;
	display: block;
	margin-left: auto;
    margin-right: auto;
    transition: .3s ease-in-out;
}
button:hover{
	background-color: white;
	border: 5px solid #3F428B;
	color: #3F428B;
}
button:active{
	scale: 95%;
}

#add_kid{
	text-align: left;
	width: 540px;
    transition: .3s ease-in-out;
}
#add_kid:hover{
	background-color: white;
	border: 5px solid #3F428B;
	color: #3F428B;
}

#list_of_kids{
	width: 540px;
	height: 55px;
	border-radius: 18px;
	border-style: none;
	font-family: Hero;
	margin-bottom: 30px;
	font-size: 20px;
	placeholder-color: #6063AE;
	padding: 0 10px;
}

h1{
	margin-top: 0;
	color: #3F428B;
	font-family: Hero;
	text-align: center;
	font-size: 40px;
}














